/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configurações básicas do corpo */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f0f8ff; /* Branco gelo */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: auto;
    justify-content: flex-end;
}

/* Estilo da barra de navegação inferior */
.navbar {
    background-color: #deb887; /* Cor madeira clara */
    padding: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 560px; /* Mesma largura máxima dos blocos */
    box-shadow: 0 -3px 40px rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.navbar-item {
    flex: 1;
    text-align: center;
    margin: 0 5px;
}

.navbar-item a {
    display: block;
    color: black; /* Ícones em preto */
    text-decoration: none;
    font-size: 2rem; /* Tamanho menor dos ícones */
    padding: 5px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar-item a:hover, .navbar-item a:active {
    background-color: #e0489b;
    transform: scale(1.1);
}

.navbar-item .icon-name {
    display: block;
    font-size: 0.6rem; /* Tamanho menor do texto abaixo dos ícones */
    margin-top: 3px; /* Margem menor entre ícone e texto */
}

/* Ícone "F" sem círculo */
.icon-f {
    font-weight: bold;
}

/* Ícone de coração com círculo */
.icon-heart {
    position: relative;
    font-size: 1.5em;
    z-index: 2;
}

/* Estilo para a meia circunferência */
.half-circle {
    position: absolute;
    bottom: 100%; /* Coloca a meia circunferência acima da barra */
    left: 50%;
    transform: translateX(-50%);
    width: 100px; /* Largura da meia circunferência */
    height: 50px; /* Altura da meia circunferência */
    border-radius: 50px 50px 0 0; /* Arredondando a parte superior */
    background-color: #ffcccc;
    z-index: 1;
}

/* Estilo dos blocos */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Reduz o espaçamento entre os blocos */
    padding: 0 20px;
}

.bloco {
    background: linear-gradient(145deg, #6e7d7f, #7f8c8d);
    color: white;
    text-align: center;
    padding: 20px 30px;
    width: 100%;
    max-width: 540px;
    border-radius: 50px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    font-size: 1.6rem;
    transition: all 0.3s ease;
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imagem-bloco {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}

.bloco:hover, .bloco:active {
    transform: scale(1.05);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6);
}
